.regBlock {
    width:40%;
    height: auto;
    padding:15px 10px;
    margin: 0 auto;
    display: block;
    /*outline:2px solid black;*/
}
.regBlock .input-group{
    margin-top:15px;
}
h1{
    text-align: center;
    text-transform: uppercase;
}

.regBlock .input-group span{
    width: 100px;
}
.regBlock .input-group input{
    width: 350px;
}